.breathVertical {
    margin-top:10px;
    margin-bottom:10px;
}

.breathHorizontal {
    margin-left:10px;
    margin-right:10px;
}

#todos{
  background-color: pink;
}

#title{
    background-color : #faff60;
    text-align: center;
}

#page{
    background-color: black;
}

#main{
    width: 500px;
    margin: 50px auto;
    border: 30px solid gainsboro;
    border-width: thick;
}

input[type=checkbox].check_active{
    display: block;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border: 1px solid deepskyblue;
    margin-right: 30px;
    float: left;
    border-radius: 3px;
}

/*input[type=checkbox].check_complete{*/
    /*-webkit-appearance: none;*/
    /*width: 15px;*/
    /*height: 15px;*/
    /*!*border: 1px solid deepskyblue;*!*/
    /*background-color: deepskyblue;*/
    /*margin-right: 30px;*/
    /*float: left;*/
    /*border-radius: 3px;*/
/*}*/

#hide_button_complete{
    -webkit-appearance: none;
    width: 150px;
    color: blue;
    background: transparent;
    border: transparent;
    float: right;
    font-size: 12px;
    text-align: left;
    text-decoration: underline;
    padding-right: 30px;
    outline: none;
}

#hide_button_delete{
    -webkit-appearance: none;
    width: 150px;
    color: blue;
    background: transparent;
    border: transparent;
    float: right;
    padding-right: 30px;
    font-size: 12px;
    text-decoration: underline;
    text-align: left;
    outline: none;
}

.regular-checkbox {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    margin-right: 30px;
    float: left;
    background-color: deepskyblue;
    border-radius: 3px;
    display: block;
    position: relative;
}

.regular-checkbox:checked {
    background-color: deepskyblue;
}

.regular-checkbox:checked:after {
    content: '\2714';
    font-size: 12px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: white;
}

.completed-text{
    margin-left: 50px;
}

button.delete_button{
    -webkit-appearance: none;
    color: red;
    background: transparent;
    border: transparent;
    float: right;
}

#active_box{
    padding-left: 20px;
    border-bottom: 1px solid black;
}

div.todoStatusACTIVE {
    display: block;
    color : blue;
    margin-left: 20px;
    margin-right: 80px;
    padding-bottom: 5px;
}

#add_todos{
    /*border-bottom: 1px solid black;*/
    margin-left: 20px;
    margin-right: 80px;
    padding-bottom: 5px;
}

#add_todo_button{
    color: black;
    background-color: lightskyblue;
}

#complete_box{
    border-top: 1px solid black;
    padding-top: 5px;
    padding-left: 20px;
    border-bottom: 1px solid black;
}

div.todoStatusCOMPLETE{
    color : green;
    text-decoration : line-through;
    display: block;
    margin-left: 20px;
    margin-right: 80px;
    padding-bottom: 5px;
}

#delete_box{
    padding-top: 5px;
    padding-left: 20px;
}

div.todoStatusDELETED {
    color : red;
    text-decoration : line-through;
    display: block;
    margin-left: 50px;
    margin-right: 80px;
    padding-bottom: 5px;
}
